@import 'src/assets/sass/variables';

.image-title {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    padding: 0 15px;
    margin-bottom: 40px;

    img {
        width: 100%;
        height: auto;
        filter: brightness(0.5);
    }

    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background: transparentize($sec-color, .2);
        color: #fff;
        white-space: nowrap;
        padding: 20px 25px;
        font-size: calc(.5em + .75vmax);
    }
}

header,
footer {
    padding: 10px 10% 0;
}

header {
    margin: 0 auto !important;
    background: #f5f5f5;
    box-shadow: 0 0 1px 3px #f1f1f1;

    // @media screen and (min-width: 760px) {
    //     position: fixed;
    //     top: 0;
    //     left: 50%;
    //     z-index: 1000;
    //     transform: translate(-50%, 0);
    //     width: 100%;
    // }
}
footer {
    margin: 30px auto 0 !important;
    height: 50px;
    background: #f5f5f5;
    color: #171717;
}

main {
    min-height: calc(100vh - 75px - 50px);
    padding: 0;
}
main.padding-true {
    padding: 50px 2.5% 0;
}
