header {
    height: 75px;
    background: #00fd72;
}
footer {
    height: 50px;
}

main.padding-true,
header,
footer {
    padding: 10px 25px;
}

main {
    min-height: calc(100vh - 75px - 50px);
    padding: 0;
}

