<tp-default-layout [padding]="true" title="Receitas">
    <section>
        <div class="difficulty-row row">
            <h3>Por dificuldade:</h3>
            <ul class="buttons">
                <li><button>Iniciante</button></li>
                <li><button>Intermediário</button></li>
                <li><button>Avançado</button></li>
            </ul>
        </div>
        <tp-recipe-list [recipes]="recipes" colClass="col-12 col-sm-6 col-xl-3"></tp-recipe-list>
    </section>
</tp-default-layout>