@import 'src/assets/sass/variables';

article {
    max-width: 220px;
    min-width: 220px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px;

    h4 {
        font-size: 1.15em;
        line-height: 1.5;
        color: #353535;
        padding: 15px 0 0 20px;
        font-weight: 700;
        margin-bottom: 25px; 
    }

    p {
        color: #a9a9a9;
        font-size: 0.9em;
        margin: 20px;
    }

    a {
        display: inline-block;
        text-align: right;
        width: 100%;
        color: darken(#81ca5e, 10%);
        text-decoration: none;
        font-size: 1.1em;
        padding: 0 20px 20px 0;
    }
}