@import 'src/assets/sass/variables';

.row {
    display: flex;
    flex-flow: nowrap;
    margin: 0;
}

article {
    height: 350px;
    width: inherit;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px;
    position: relative;
    overflow: hidden;

    img {
        height: 100%;
        width: auto;
    }

    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #e6e6e6d4;
        padding: 5px 10px;
        border-bottom: 3px solid $pri-color;

        h4 {
            font-size: 1.5em;
            color: $pri-color;
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;
        }

        mat-icon,
        a {
            color: $pri-color;
        }

        mat-icon {
            font-size: .85em;
            width: fit-content;
        }

        a {
            font-weight: 700;

            span {
                font-weight: 300;
                font-size: .85em;
                color: darken($pri-color, 5%);
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}