<tp-default-layout [padding]="true" title="Sobre">
    <section>
        <h3>
            <mat-icon>grade</mat-icon>
            Experiências
        </h3>
        <p>O Tompero é um espaço que tem o objetivo de oportunar pessoas a compartilhar suas experiências gastronômicas livremente.</p>
    </section>

    <section>
        <h3>
            <mat-icon>grade</mat-icon>
            Praticidade
        </h3>
        <p>Provemos maior liberdade no compartilhamento de receitas, pesquisando sempre novas formas para facilitar a criação de seus pratos.</p>
    </section>

    <section>
        <h3>
            <mat-icon>grade</mat-icon>
            Comunidade
        </h3>
        <p>Com uma comunidade enorme a ser criada, oferecemos.</p>
    </section>


</tp-default-layout>