ngb-carousel {
    margin: 0 auto;
    height: auto;
    width: 100%;
    overflow: hidden;
    height: inherit;
}

ngb-carousel,
::ng-deep .carousel-item,
::ng-deep .carousel-inner {
    max-height: 800px;
}

ngb-carousel img {
    width: 100%;
    outline: none;
    filter: brightness(0.5);
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

::ng-deep {

    .carousel-control-prev,
    .carousel-control-next {
        width: 7.5%;
        z-index: 20;
    }
}

.carousel-indicators{
    z-index: 20;
}
.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 30%;
    left: 15%;
    width: fit-content;
    height: fit-content;

    h3 {
        font-size: 2em;
        font-weight: 300;
    }

    a {
        font-size: 1.25em;
        font-weight: 700;
        color: #00fd72;
        text-align: left;
        width: 100%;
        display: inline-block;
    }
}