<mdb-carousel [ngClass]="multi ? 'carousel-multi-item multi-animation' : ''" 
  class="carousel slide carousel-fade" 
  [type]="'carousel-thumbnails'" 
  [animation]="'fade'">
  
  <mdb-carousel-item>
    <img src="../../../../assets/2.jpg" alt="Angular Carousel 2">
    <div class="carousel-caption">
      <h3>Espaguete au tofu</h3>
      <a href="#">Ver receita</a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img src="../../../../assets/1.jpeg" alt="Angular Carousel 1">
    <div class="carousel-caption">
      <h3>Espaguete au tofu</h3>
      <a href="#">Ver receita</a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>