@import 'src/assets/sass/variables';

.row {
    display: flex;
    margin: 0 30px;
}

.section-a,
.section-b,
.section-c,
.section-d {
    margin: 20px auto 10px;
}

h3 {
    font-weight: 700;
    color: $pri-color;
}

.section-c {

    .buttons {
        display: flex;
    }

    .buttons button {
        padding: 10px 0;
        border: none;
        border-radius: 3px;
        color: #fff;
        background: $pri-color;
        margin: 10px 0;
        width: 100%;
    }

    .recipes {
        max-width: calc(240px * 3);
        overflow-x: auto;
        flex-flow: nowrap;
    }
}

.footer {

    ul li {
        margin: 0 30px;
    }
}

.left-side {
    width: 220px;
    margin-right: 20px;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.recipes-by-level-row {
    margin: 0;
    display: flex;
}