<tp-default-layout [padding]="false">
    <tp-carousel [items]="recipes"></tp-carousel>
    
    <div class="row">
        <section class="col-12 section-a">
            <h2>Últimas receitas</h2>
            <tp-recipe-list [recipes]="recipes" colClass="col-12 col-sm-6 col-xl-3" [limit]="4"></tp-recipe-list>
        </section>
    </div>

    <div class="row">
        <section class="col-12 section-b">
            <h2>Top receitas</h2>
            <tp-recipe-list [recipes]="recipes" colClass="col-12 col-sm-6 col-xl-3"  [limit]="4"></tp-recipe-list>
        </section>
    </div>
    
    <div class="row">
        <section class="section-c col-12">
            <h2>Por dificuldade</h2>
            <div class="recipes-by-level row justify-center">
                <ul class="left-side buttons column">
                    <li><button>Iniciante</button></li>
                    <li><button>Intermediário</button></li>
                    <li><button>Avançado</button></li>
                </ul>
                <tp-recipe-list [recipes]="recipes" colClass="col-12 col-sm-6 col-xl-3" [limit]="4"></tp-recipe-list>
            </div>
        </section>
        
        <!-- <section class="footer column section-d col-12">
            <h2>Siga-nos nas redes sociais</h2>
            <ul class="row">
                <li>facebook</li>
                <li>instagram</li>
                <li>twitter</li>
            </ul>
        </section>  -->
    </div>
</tp-default-layout>