@import 'src/assets/sass/variables';

.row {
    display: flex;
    margin: 0 30px;
}

.section-a,
.section-b,
.section-c,
.section-d {
    margin: 20px auto 10px;
}

.section-c .buttons {
    display: flex;

    li {
        margin: 10px 20px;
    }
}